@import "./Header.css";
@import "./Nav.css";
@import "./Utility.css";

/*Navbar imported from other files*/

/* Container */

.container {
  max-width: 100rem;
  margin-inline: auto;
    padding-inline: 2rem;
}

.container h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
  margin-bottom: 5rem;
  transition: all 1s ease-out;
}

.container h1:hover {
  letter-spacing: 5px;
}

.responsive > * {
  grid-column: 1/2;
  grid-row: 1/2;
}

/*card grid*/

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 5rem;
  margin-bottom: 5rem;
}

.card {
  aspect-ratio: 1/1.5;
}

.card__content {
  background: white;
  align-self: end;
  margin: 0.5rem;
  padding: 5px;
}

.card__img {
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 15px;
  transform: scale(1);
  transition: all 1s ease-in-out;
}

.card__img:hover {
  transform: scale(1.1);
}

/*My Favourite posts*/
.bottom {
  height: 20%;
  width: 100%;
 background-color: rgb(242, 245, 246);
  }

.fav{
  width: 100%;
  height: 20%;
  text-align: center;
  
 }

.fav__post{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 3px;
  width: 100%;
  height: 80%;
  place-content: center;
  padding: 1rem;
 }

.fav__post img{
  width: 100%;
  height: 80%;
  cursor: pointer;
}
 
/*footer imported from other files*/

/*media querry*/

@media (max-width: 668px) {
  
  .nav__bar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
   
  }
  .social li a {
    padding-top: 1.3rem;
  }
  .blog-grid {
    gap: 2rem;
  }

.fav__post{
  grid-template-columns: repeat(2, 1fr);
  height: 50%;
}
.head{
  flex-direction: column;
}
}
