/* Navigation bar*/

.nav__bar {
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding-top:3rem;
   }
  
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav__links {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0px 1.2rem;
    border: none;
    transition: all 1s ease-in-out;
  }
  
  .nav__links:hover {
    border-bottom: 1px solid rgb(50, 18, 18);
  }
  .active {
    color: rgb(243, 170, 86);
  }
  
  .social {
    display: flex;
    padding: 2rem;
  }
  
  .social li a {
    color: rgb(49, 101, 122);
    display: inline-block;
    font-size: 25px;
    transform: scale(0.5);
    transition: all 0.5s ease-in-out;
  }
  .social li a:hover {
    transform: scale(1) translateY(-10px);
  }
    
  